nav {
  display: flex;
  justify-content: center;
  height: 60px;
}

.MuiBreadcrumbs-li a {
  text-decoration: none;
  color: #464545;
}

.MuiBreadcrumbs-li a:hover {
  color: #969696;
  transition: 0.5s all;
}
